<!DOCTYPE html 
	PUBLIC "-//W3C//DTD HTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
	<title>William B. Refvem</title>
	</head>

		<h1 style="font-family:Georgia" align="center">William B. Refvem</h1>
		<body>

		<div align="center">
		<table style="font-family:Georgia">
		<tr>
			<td style="text-align:center">			
			3431 Redbud Ln, Raleigh, NC  27607 
			<a href="mailto:wbrefvem@ncsu.edu">email</a>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<a href="education.html">Education</a>
			</td>
		</tr>
		<tr>	
			<td style="text-align:center">
				<a href="work.html">Work Experience</a>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<a href="http://images.google.com/search?tbm=isch&hl=en&source=hp&biw=1061&bih=719&q=epic+beards&gbv=2&oq=epic+beards&aq=f&aqi=g1&aql=&gs_sm=e&gs_upl=1753l3506l0l3655l11l10l0l0l0l0l152l1164l2.8l10l0">Beard</a>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<a href="nintendo.html">Nintendo</a>
			</td>
		</tr>
		</table>
		<br /><br />
		</div>

		<div align="center">
		<img alt="Otium tibi molestum est, Catulle." src="profilepic.jpg">
		</div>

		</body>

</html>
